$cl-gris-c: #f3f3f3;
$cl-gris-f: #eaeaea;

$cl-gris-btn: #f6f6f6;
$cl-gris-bg: #f6f6f6;

$cl-gris-icones: #7e7e7e;

$cl-vert-c: #99e2d0;
$cl-vert-f: #008766;

$cl-bleu-c: #89c8fa;
$cl-bleu-f: #003a68;

$cl-violet: #9356dc;
